<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{lanche.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let imagem of lanche.imagem; let ix = index">
      <ion-img [src]="pathImgs + imagem"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col size="12" class="descricao-lanche">
      {{ lanche.descricao }}
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      {{ lanche.preco }}
    </ion-col>
  </ion-row>
</ion-footer>


