<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cardápio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Selecione um tipo de lanche:</ion-label>
      <ion-select [(ngModel)]="tipo">
        <ion-select-option value="cachorrao">Cachorrão</ion-select-option>
        <ion-select-option value="hamburguer">Hambúrguer</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="tipo === 'cachorrao'">
      <ion-label>Selecione um cachorrão:</ion-label>
      <ion-select [(ngModel)]="cachorrao">
        <ion-select-option value="simples">Simples</ion-select-option>
        <ion-select-option value="completo">Completo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="tipo === 'hamburguer'">
      <ion-label>Selecione um hambúrguer:</ion-label>
      <ion-select [(ngModel)]="hamburguer">
        <ion-select-option value="simples">Simples</ion-select-option>
        <ion-select-option value="completo">Completo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="tipo === 'cachorrao' && cachorrao === 'simples'" (click)="mostrarDescricao('simplesCachorrao')">
    <ion-card-header>
      <ion-card-title>Simples</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/img/simples-cachorrao.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tipo === 'cachorrao' && cachorrao === 'completo'" (click)="mostrarDescricao('completoCachorrao')">
    <ion-card-header>
      <ion-card-title>Completo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/img/completo-cachorrao.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tipo === 'hamburguer' && hamburguer === 'simples'" (click)="mostrarDescricao('simplesHamburguer')">
    <ion-card-header>
      <ion-card-title>Simples</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/img/completo-cachorrao.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tipo === 'hamburguer' && hamburguer === 'completo'" (click)="mostrarDescricao('completoHamburguer')">
    <ion-card-header>
      <ion-card-title>Completo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="https://w7.pngwing.com/pngs/411/942/png-transparent-hamburger-cheeseburger-wendy-s-burger-king-food-burger-top.png"></ion-img><br>
      <ion-card-title>Hamburguer Completo</ion-card-title><br>
      Hambúrguer Completo: Pão, carne bovina, queijo, alface, tomate, bacon, cebola, ovo e molho especial.<br>
    </ion-card-content>
    <ion-button color="danger" >
      <ion-icon name="card-outline"></ion-icon>
      R$19,99
      </ion-button>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <div class="ion-text-end ion-padding">
        <ion-button color="danger" >
          <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>