<ion-header>
  <ion-toolbar>
    
    <ion-title>
      Bem-vindo ao Lanchão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button [value]="'0'">
    <ion-label>Cachorrão</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="'1'">
    <ion-label>Hamburguer</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">
  <ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="5" *ngFor="let botao of lanches; let ix = index">
      <ion-row class="ion-align-items-center">
        <ion-col size="6" [ngClass]="ix % 2 == 0 ? 'bt-left' : 'bt-right'">
          <!-- <ion-img src="https://w7.pngwing.com/pngs/411/942/png-transparent-hamburger-cheeseburger-wendy-s-burger-king-food-burger-top.png"></ion-img> -->
          <!-- <ion-img src="https://img.freepik.com/fotos-gratis/vista-frontal-deliciosas-batatas-fritas-com-cheeseburgers-em-fundo-escuro-lanche-prato-fast-food-torrada-hamburguer-jantar_140725-158687.jpg?w=2000"></ion-img> -->
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-button color="danger" routerLink="/cardapio">
          <ion-icon name="restaurant"></ion-icon>
          Cardápio
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button slot="end" routerLink="/cardapio/hamburguer">Cardápio de Hambúrguer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
