<ion-header>
  <ion-toolbar>

    <ion-title class="ion-text-center">
      APLICATIVO
    </ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row class="ion-align-items-center header-subline">
      <ion-slides pager="true" class="slide-line" [options]="slideOpts">
        <ion-slide *ngFor="let categ of categs; let ix = index"
          [ngClass]="categ.codigo == selected ? 'slide-actived' : 'slide-no-actived'"
          (click)="setSelected(categ.codigo)">
          {{ categ.nome }}
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6" *ngFor="let lanche of lanches; let ix = index" [hidden]="!lanche.visibled"
      (click)="goLanche(lanche)">
      <ion-row>
        <ion-col size="12" class="card-lanche">

          <ion-row>
            <ion-col size="12" class="img-lanche">
              <img [src]="pathImgs + lanche.imagem[0]">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              {{ lanche.preco }}
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button color="primary">
                Detalhes
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="danger">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
 

</ion-footer>